## Ignore everyting
**
/packages/**/node_modules

# Except the following
!.eslintignore
!.eslintrc.js
!.prettierrc.js
!jest.config.js
!LICENSE
!package.json
!tsconfig.json
!yarn.lock
!/packages/**/src
!/packages/**/package.json
!/packages/**/tsconfig.json
